body{
    background: rgb(245, 235, 235);
}
button{
    background-color: aquamarine;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: blueviolet;
}
div{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-right: 1000px;
}

img{
    margin-bottom: 0,3em;
}
h1{
    margin-bottom: 10px;
}
p{
    font-size: 18px;
    display: flex;
    justify-content: center;
}
@media(max-width: 768px){
    div{
        flex-direction: column;
    }
}