body{
    background: rgb(245, 235, 235);
}
button{
    background-color: aquamarine;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: blueviolet;
}
.contato{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-right: 1000px;
}

img{
    margin-bottom: 0,3em;
}
h1{
    margin-bottom: 10px;
}
p{
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.nav__link{
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    background-color: rgb(242, 48, 9);
    text-decoration: none;
    color: black;
    border-radius: 3px;
}
.nav__link:hover{
    background-color: rgb(239, 180, 16);
}
.div__head{
    display: flex;
    list-style: none;
    justify-content: initial;
}
@media(max-width: 768px){
    .contato{
        flex-direction: column;
    }
}