body{
    background: rgb(245, 235, 235);
}

ul{
    display: grid;
    grid-template-columns: 10em;
    grid-template-rows: 1,5em;
    gap: 1em;
    list-style-type: none;
}
a{
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    background-color: rgb(242, 48, 9);
    text-decoration: none;
    color: black;
    border-radius: 3px;
}
a:hover{
    background-color: rgb(239, 180, 16);
}
section{
    margin-left: 40em;
    margin-top: 1em;
}

@media (min-width: 768px) {
    ul{
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
    }
    h1{
        display: flex;
        justify-content: center;
    }
    div{
        display: flex;
        margin-left: 25em;
    }
}