body{
    background: rgb(245, 235, 235);
}
section{
    display: flex;
    margin-left: 1em;
    margin-top: 0,3em;
    margin-bottom: 1em;
}
p{
    font-size: 18px;
}
.nav__link{
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    background-color: rgb(242, 48, 9);
    text-decoration: none;
    color: black;
    border-radius: 3px;
}
.nav__link:hover{
    background-color: rgb(239, 180, 16);
}
.div__head{
    display: flex;
    list-style: none;
    justify-content: initial;
}