body{
    background: rgb(245, 235, 235);
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15em;
    list-style-type: none;
}
a{
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    background-color: rgb(242, 48, 9);
    text-decoration: none;
    color: black;
    border-radius: 3px;
}
a:hover{
    background-color: rgb(239, 180, 16);
}

@media (min-width: 768px) {
    ul{
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
    }
    h1{
        display: flex;
        justify-content: center;
    }
    div{
        display: flex;
        margin-left: 25em;
    }
}