body{
    background: rgb(245, 235, 235);
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7em;
    list-style-type: none;
}
a{
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    background-color: rgb(242, 48, 9);
    text-decoration: none;
    color: black;
    border-radius: 3px;
}
a:hover{
    background-color: rgb(239, 180, 16);
}
section{
    display: flex;
    margin-left: 1em;
    margin-top: 0,3em;
    margin-bottom: 1em;
}
p{
    font-size: 18px;
}

@media (min-width: 768px) {
    ul{
        flex-direction: row;
        justify-content: right;
        list-style-type: none;
        margin-top: 2em;        
    }
    h1{
        display: flex;
        justify-content: left;
        margin-bottom: 1px;
    }
    div{
        display: flex;
        margin-left: 1em;
    }
}